.App {
    text-align: center;
}

body {
    background-color: #1A1B1C;
}

.outletContainer {
    width: 100vw;
    height: 90vh;
    display: flex;
    overflow: scroll;
    scroll-snap-type: mandatory;
}