.dayCard {
    background-color: #242526 !important;
    width: 500px;
    height: 625px;
    margin: 20px;
}

.generateSchedule {
    width: 400px;
    height: 50px;
    justify-content: center;
    border: none;
    background-color: #4db8bc;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    font-size: 24px;
}

.mealCard {
    background-color: #28292a !important;
    width: auto;
    height: 23%;
    margin: 20px;
}

.mealCard:hover {
    transform: scale(1.02);
    transition: all 0.3s;
    cursor: pointer;
}

.dayCard h1 {
    padding-top: 25px;
    color: white;
}

.dayCard h2 {
    color: white;
    text-align: center;
}

.dayCard h3 {
    padding-top: 15px;
    padding-left: 50px;
    color: white;
    text-align: left;
}

.planner {
    display: flex;
    overflow: scroll;
    margin: 15vh 5vh 5vh;
}
