.dayCard {
    background-color: #242526 !important;
    width: 500px;
    height: 625px;
    margin: 20px;
}

.dayCard:hover {
    transform: scale(1.02);
    transition: all 0.3s;
}

.dayName {
    color: white;
}